In [240]:
#Import libraries
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager # sustituye al archivo
from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [241]:
PATH = ChromeDriverManager().install()    # instala driver de chrome

driver = webdriver.Chrome(PATH)      # abre una ventana de chrome

#Busqueda didn´t work, I had to type up the whole URL + search

URL='https://www.booking.com/searchresults.es.html?ss=Chamart%C3%ADn&ssne=Chamart%C3%ADn&ssne_untouched=Chamart%C3%ADn&efdco=1&label=gen173nr-1BCBkoggI46AdIM1gEaEaIAQGYAQq4ARfIAQzYAQHoAQGIAgGoAgO4AvPn46IGwAIB0gIkOTFmYzYxYTAtYjc3NC00NDM5LWIwNTgtOWIyNGIwYjRiZDA52AIF4AIB&sid=d4b5462ce9ae6cf55f51b42829c8b5ed&aid=304142&lang=es&sb=1&src_elem=sb&src=searchresults&dest_id=180&dest_type=district&checkin=2023-05-08&checkout=2023-05-09&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure&flex_window=1'

driver.get(URL)

time.sleep(3)

driver.find_element(By.XPATH, '//*[@id="onetrust-reject-all-handler"]').click()  # rechaza cookies

In [242]:
tabla = driver.find_elements(By.CLASS_NAME, 'd20f4628d0')

filas = [e.text.split('\n') for e in tabla]

filas

[['Ilunion Pio XII',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,3',
  'Muy bien',
  '9.136 comentarios',
  'Oferta Escapada',
  'Habitación Doble - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 149€ 119',
  'Precio original € 149. Precio actual € 119.',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hotel Chamartin The One',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '8,1',
  'Muy bien',
  '10.393 comentarios',
  'Habitación Doble - 1 o 2 camas',
  '2 camas individuales',
  'Solo quedan 7 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 150',
  'Precio € 150',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Crisol Vía Castellana',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,2',
  'Muy bien',
  '5.100 comentarios',
  'Habitación Doble Clásica - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 140',
  'Precio € 140',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Roisa Hostal Boutique',
  'Se abre en una ventana nueva',
  'Promocionado',
  'Este establecimiento paga un poco más para promocionarse en nuestra página. Cumple con tus criterios de búsqueda y es una muy buena opción.',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,0',
  'Muy bien',
  '2.863 comentarios',
  'Habitación Doble',
  '2 camas individuales',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 95',
  'Precio € 95',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['La Posada de El Chaflán',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 1 del programa de Viajes sostenibles',
  '7,0',
  'Bien',
  '1.474 comentarios',
  'Oferta Escapada',
  'Habitación Doble',
  '1 cama doble',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 90€ 72',
  'Precio original € 90. Precio actual € 72.',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Ilunion Suites Madrid',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,5',
  'Muy bien',
  '6.691 comentarios',
  'Oferta Escapada',
  'Habitación Doble Estándar - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 190€ 152',
  'Precio original € 190. Precio actual € 152.',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['NH Paseo de la Habana',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '7,8',
  'Bien',
  '2.081 comentarios',
  'Habitación Doble Estándar con cama supletoria (2 adultos + 1 niño) - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Solo quedan 4 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 227',
  'Precio € 227',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hotel Puerta America',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,4',
  'Muy bien',
  '5.105 comentarios',
  'Habitación Deluxe',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 205',
  'Precio € 205',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Barceló Imagine',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '9,1',
  'Fantástico',
  '2.815 comentarios',
  'Habitación Doble Deluxe - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 263',
  'Precio € 263',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Sercotel Togumar',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '8,3',
  'Muy bien',
  '1.764 comentarios',
  'Habitación Doble - 2 camas',
  '2 camas individuales',
  'Solo quedan 2 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 143',
  'Precio € 143',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Desayuno incluido',
  'Real Rooms',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '8,3',
  'Muy bien',
  '430 comentarios',
  'Habitación Doble con baño privado - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Desayuno incluido',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 86',
  'Precio € 86',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['NUEVOS DUPLEX PRINCIPE VERGARA',
  'Se abre en una ventana nueva',
  'Promocionado',
  'Este establecimiento paga un poco más para promocionarse en nuestra página. Cumple con tus criterios de búsqueda y es una muy buena opción.',
  'Chamartín, MadridMostrar en el mapa',
  '6,9',
  'Puntuación',
  '428 comentarios',
  'Loft Deluxe',
  'Apartamento entero • 1 dormitorio • 1 sala de estar • 2 baños • 1 cocina • 69m²',
  '3 camas (1 doble, 2 sofás cama)',
  'Solo queda 1 a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 120',
  'Precio € 120',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hostal Madrid Paradise',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '6,5',
  'Puntuación',
  '556 comentarios',
  '1×',
  'Cama en habitación compartida mixta de 6 camas',
  'Cama en habitación compartida • 26m²',
  '1 litera',
  '1×',
  'Cama en habitación compartida mixta de 6 camas',
  'Cama en habitación compartida',
  '1 cama individual',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 36',
  'Precio € 36',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['UVE Marcenado',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '9,2',
  'Fantástico',
  '2.371 comentarios',
  'Habitación con cama extragrande.',
  '1 cama doble extragrande',
  'Solo quedan 3 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 119',
  'Precio € 119',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Apartamentos Torr Av América - López de Hoyos',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '7,7',
  'Bien',
  '31 comentarios',
  'Apartamento',
  'Apartamento entero • 3 dormitorios • 1 sala de estar • 2 baños • 1 cocina • 120m²',
  '7 camas (6 dobles, 1 sofá cama)',
  'Solo queda 1 a este precio en nuestra web',
  'mar, 9 may - mié, 10 may',
  '1 noche, 2 adultos',
  '€ 800',
  'Precio € 800',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Apartamentos Torr',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 1 del programa de Viajes sostenibles',
  '7,1',
  'Bien',
  '337 comentarios',
  'Apartamento de 1 dormitorio',
  'Apartamento entero • 1 dormitorio • 1 sala de estar • 1 baño • 1 cocina • 55m²',
  '3 camas (2 individuales, 1 sofá cama)',
  'Solo quedan 3 a este precio en nuestra web',
  'mar, 9 may - mié, 10 may',
  '1 noche, 2 adultos',
  '€ 199',
  'Precio € 199',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['AC Hotel Aitana by Marriott',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '8,8',
  'Fabuloso',
  '748 comentarios',
  'Habitación Doble Superior - 2 camas',
  '2 camas individuales',
  'Solo quedan 5 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 308',
  'Precio € 308',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Desayuno incluido',
  'NH Collection Madrid Eurobuilding',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,9',
  'Fabuloso',
  '1.709 comentarios',
  'Habitación Doble Superior - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Desayuno incluido',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 405',
  'Precio € 405',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Apartamentos Olano C.B.',
  'Se abre en una ventana nueva',
  'Gestionado por un particular',
  'Chamartín, MadridMostrar en el mapa',
  '8,4',
  'Muy bien',
  '187 comentarios',
  'Apartamento de 1 dormitorio (2 adultos)',
  '2 camas individuales',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 90',
  'Precio € 90',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['dobohomes - Puenteareas',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '8,0',
  'Muy bien',
  '25 comentarios',
  'Apartamento de 1 dormitorio',
  'Apartamento entero • 1 dormitorio • 1 sala de estar • 1 baño',
  '1 cama doble',
  'Solo queda 1 a este precio en nuestra web',
  'mar, 9 may - mié, 10 may',
  '1 noche, 2 adultos',
  '€ 146',
  'Precio € 146',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hostel Thirty One 31',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '5,9',
  'Puntuación',
  '384 comentarios',
  '2×',
  'Litera en habitación compartida mixta',
  '2 camas en habitación compartida',
  '2 camas individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 34',
  'Precio € 34',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['dobohomes - Clara del Rey 33',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '6,8',
  'Puntuación',
  '6 comentarios',
  'Estudio Deluxe',
  'Estudio entero • 1 baño • 25m²',
  '2 camas individuales',
  'Solo queda 1 a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 115',
  'Precio € 115',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Don Pio',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '8,6',
  'Fabuloso',
  '392 comentarios',
  'Habitación Doble - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Solo quedan 3 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 175',
  'Precio € 175',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hotel 4C Puerta Europa',
  'Se abre en una ventana nueva',
  'Tetuán, MadridMostrar en el mapaCerca del metro',
  '7,8',
  'Bien',
  '1.283 comentarios',
  'Habitación Doble - 2 camas',
  '2 camas individuales',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 80',
  'Precio € 80',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Avenida De America Tijcal',
  'Se abre en una ventana nueva',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,8',
  'Fabuloso',
  '2.497 comentarios',
  'Estudio Superior con terraza - 2 camas',
  'Estudio entero • 1 baño • 1 cocina • 28m²',
  '2 camas individuales',
  'Solo queda 1 a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 84',
  'Precio € 84',
  'Incluye impuestos y cargos',
  'Ver disponibilidad']]

In [243]:
filas_dict = {} #Creates a dictionary with name of accomodation and price.

for i in filas:
    name = i[0].replace('-', '')
    price = i[-3][-3:].strip('.')
    filas_dict[name] = price

filas_dict

{'Ilunion Pio XII': '19',
 'Hotel Chamartin The One': '150',
 'Crisol Vía Castellana': '140',
 'Roisa Hostal Boutique': ' 95',
 'La Posada de El Chaflán': '72',
 'Ilunion Suites Madrid': '52',
 'NH Paseo de la Habana': '227',
 'Hotel Puerta America': '205',
 'Barceló Imagine': '263',
 'Sercotel Togumar': '143',
 'Desayuno incluido': '405',
 'NUEVOS DUPLEX PRINCIPE VERGARA': '120',
 'Hostal Madrid Paradise': ' 36',
 'UVE Marcenado': '119',
 'Apartamentos Torr Av América  López de Hoyos': '800',
 'Apartamentos Torr': '199',
 'AC Hotel Aitana by Marriott': '308',
 'Apartamentos Olano C.B.': ' 90',
 'dobohomes  Puenteareas': '146',
 'Hostel Thirty One 31': ' 34',
 'dobohomes  Clara del Rey 33': '115',
 'Don Pio': '175',
 'Hotel 4C Puerta Europa': ' 80',
 'Avenida De America Tijcal': ' 84'}

In [244]:
# Column names
cabeceras = ['name', 'price']

# Creates DF from dictionary
df_booking = pd.DataFrame.from_dict(filas_dict, orient='index')
df_booking = df_booking.reset_index()
df_booking.columns = cabeceras
df_booking = df_booking.rename(columns={'index': 'acc_id'})

# change data type of 'age' column to integer
df_booking = df_booking.astype({'price': int})

df_booking

                                            name  price
0                                Ilunion Pio XII     19
1                        Hotel Chamartin The One    150
2                          Crisol Vía Castellana    140
3                          Roisa Hostal Boutique     95
4                        La Posada de El Chaflán     72
5                          Ilunion Suites Madrid     52
6                          NH Paseo de la Habana    227
7                           Hotel Puerta America    205
8                                Barceló Imagine    263
9                               Sercotel Togumar    143
10                             Desayuno incluido    405
11                NUEVOS DUPLEX PRINCIPE VERGARA    120
12                        Hostal Madrid Paradise     36
13                                 UVE Marcenado    119
14  Apartamentos Torr Av América  López de Hoyos    800
15                             Apartamentos Torr    199
16                   AC Hotel Aitana by Marriott    308
17                       Apartamentos Olano C.B.     90
18                        dobohomes  Puenteareas    146
19                          Hostel Thirty One 31     34
20                   dobohomes  Clara del Rey 33    115
21                                       Don Pio    175
22                        Hotel 4C Puerta Europa     80
23                     Avenida De America Tijcal     84

In [245]:
#Adds a column for storing source of data
df_booking['web'] = 'Booking.com'
df_booking

                                            name  price          web
0                                Ilunion Pio XII     19  Booking.com
1                        Hotel Chamartin The One    150  Booking.com
2                          Crisol Vía Castellana    140  Booking.com
3                          Roisa Hostal Boutique     95  Booking.com
4                        La Posada de El Chaflán     72  Booking.com
5                          Ilunion Suites Madrid     52  Booking.com
6                          NH Paseo de la Habana    227  Booking.com
7                           Hotel Puerta America    205  Booking.com
8                                Barceló Imagine    263  Booking.com
9                               Sercotel Togumar    143  Booking.com
10                             Desayuno incluido    405  Booking.com
11                NUEVOS DUPLEX PRINCIPE VERGARA    120  Booking.com
12                        Hostal Madrid Paradise     36  Booking.com
13                                 UVE Marcenado    119  Booking.com
14  Apartamentos Torr Av América  López de Hoyos    800  Booking.com
15                             Apartamentos Torr    199  Booking.com
16                   AC Hotel Aitana by Marriott    308  Booking.com
17                       Apartamentos Olano C.B.     90  Booking.com
18                        dobohomes  Puenteareas    146  Booking.com
19                          Hostel Thirty One 31     34  Booking.com
20                   dobohomes  Clara del Rey 33    115  Booking.com
21                                       Don Pio    175  Booking.com
22                        Hotel 4C Puerta Europa     80  Booking.com
23                     Avenida De America Tijcal     84  Booking.com

In [246]:
#Load csv file into a DF
df_bb_listing=pd.read_csv('data/listings.csv')
df_bb_listing.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
6139,21570744,GRAN PISO NUEVO 170m2 CENTRO-GRAN VIA,36401569,Capitalurbe Consulting Group,Centro,Sol,40.41833,-3.70154,Entire home/apt,189,2,88,2020-02-28,2.12,2,226
10484,33818218,Habitación privada en Pleno Centro de Madrid,80801309,Lizette,Centro,Universidad,40.42271,-3.70621,Private room,50,1,24,2020-01-06,0.99,2,90
4355,17678527,Apartamento Lavapiés Wifi Luz preciosa,120378976,Ana,Centro,Embajadores,40.40953,-3.69905,Entire home/apt,60,2,15,2019-06-09,0.34,1,0
18969,48026713,·CityCentre-La Latina-WiFi-A/C·,47554470,Arnaldo,Centro,Embajadores,40.40871,-3.70499,Entire home/apt,59,1,9,2021-03-30,4.35,9,330
11729,35089324,HABITACIONES FINAL CHAMPIONS METROPOLITANO,264103431,Marta,Moratalaz,Vinateros,40.40856,-3.64227,Private room,450,1,0,NaN,NaN,1,180
2379,10899865,Habitación en Puerta de toledo (Madrid),56486845,Antonio,Centro,Embajadores,40.40706,-3.70801,Private room,18,2,125,2018-04-23,2.11,1,0
9779,31777878,Abitacion trancillo,160610601,Irina,Villaverde,Los Angeles,40.35224,-3.69541,Private room,11,2,0,NaN,NaN,2,75
2522,11519854,HABITACIÓN EN EL CENTRO DE MADRID,59879798,Concepción,Retiro,Pacífico,40.40550,-3.68536,Private room,53,2,3,2019-12-31,0.05,1,365
12808,36959348,Confortable habitación en barrio La Latina,55272530,Eduardo,Centro,Embajadores,40.40807,-3.70741,Private room,45,2,0,NaN,NaN,1,365
12997,37390695,"Precioso Loft Ifema, aire acondicio,wifi, cabl...",42453682,Carolina,Hortaleza,Pinar del Rey,40.47208,-3.65240,Entire home/apt,61,2,48,2021-03-24,2.36,5,341

In [247]:
#Checks shape
df_bb_listing.shape

(19618, 16)

In [248]:
#Clean nulls and duplicates.
df_bb_listing = df_bb_listing.dropna().drop_duplicates()
#Checks shape
df_bb_listing.shape

(13584, 16)

In [249]:
df_bb_listing.neighbourhood_group.value_counts()

Centro                   6599
Salamanca                 854
Arganzuela                776
Chamberí                  735
Tetuán                    525
Retiro                    477
Carabanchel               437
Ciudad Lineal             417
Puente de Vallecas        413
Chamartín                 378
Moncloa - Aravaca         375
Latina                    363
Hortaleza                 246
San Blas - Canillejas     231
Fuencarral - El Pardo     196
Usera                     186
Barajas                   109
Villaverde                101
Villa de Vallecas          67
Moratalaz                  61
Vicálvaro                  38
Name: neighbourhood_group, dtype: int64

In [250]:
#Drop rows where neighbourhood_group is not Chamartín
chamartin=[r for index, r in df_bb_listing.iterrows() if r['neighbourhood_group']=='Chamartín']
df_chamartin_bb = pd.DataFrame(chamartin)
df_chamartin_bb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,60,1,78,2020-09-20,0.58,1,180
91,337292,Principe de Vergara. Homey Room,1714866,Francisco,Chamartín,Ciudad Jardín,40.44663,-3.67625,Private room,35,2,7,2017-04-18,0.07,1,0
97,342557,Berlin's Park at your window. Parking included.,1738288,Jose Angel,Chamartín,Ciudad Jardín,40.45005,-3.67569,Private room,70,2,55,2019-11-03,0.60,1,343
167,544736,SUNNY & EASY ACCESIBLE BEDROOM,1284868,Rocio,Chamartín,Hispanoamérica,40.45841,-3.67598,Private room,21,2,37,2021-03-31,0.39,3,311
197,616027,"Quiet room well located, Av.America",3053021,Sonia,Chamartín,Prosperidad,40.43922,-3.67574,Private room,23,1,74,2018-09-19,0.71,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18917,47936837,Cozy Private Housing Rental in shared apartment,369379555,Vitoria,Chamartín,Hispanoamérica,40.45661,-3.68066,Private room,27,1,2,2021-03-31,0.80,1,305
18985,48049256,Nuevo/acogedor estudio en Prosperidad con terraza,9885245,My Mad Madrid,Chamartín,Ciudad Jardín,40.44704,-3.67156,Entire home/apt,34,2,2,2021-04-10,2.00,38,354
19089,48204816,Beautiful & cozy apartment in Bernabeu!,388923241,Keren,Chamartín,Nueva España,40.46165,-3.68668,Entire home/apt,40,1,1,2021-03-29,1.00,1,77
19324,48672492,HABITACION/ESTUDIO Entrada independiente,364849660,Eric,Chamartín,Ciudad Jardín,40.44999,-3.66736,Private room,36,2,3,2021-04-07,3.00,1,336
19375,48794295,GRAN HABITACION INDIVIDUAL BUENA ZONA Y COMUNI...,1284868,Rocio,Chamartín,Nueva España,40.45919,-3.67665,Private room,19,2,1,2021-03-28,1.00,3,333

In [251]:
#Keep columns name and price, adds a column called web where source is stored
df_bb = df_chamartin_bb.loc[:, ['name', 'price']].assign(web='Air B&B')
type(df_bb.price[0])

numpy.int64

In [252]:
df_bb = df_bb.reset_index(drop=True)
df_bb

                                                  name  price      web
0             Rooftop terrace room ,  ensuite bathroom     60  Air B&B
1                      Principe de Vergara. Homey Room     35  Air B&B
2      Berlin's Park at your window. Parking included.     70  Air B&B
3                       SUNNY & EASY ACCESIBLE BEDROOM     21  Air B&B
4                  Quiet room well located, Av.America     23  Air B&B
..                                                 ...    ...      ...
373    Cozy Private Housing Rental in shared apartment     27  Air B&B
374  Nuevo/acogedor estudio en Prosperidad con terraza     34  Air B&B
375            Beautiful & cozy apartment in Bernabeu!     40  Air B&B
376          HABITACION/ESTUDIO  Entrada independiente     36  Air B&B
377  GRAN HABITACION INDIVIDUAL BUENA ZONA Y COMUNI...     19  Air B&B

[378 rows x 3 columns]

In [274]:
#Load csv file into a DF
df_distritos = pd.read_csv('data/Distritos_Lat_Lon.csv')
df_distritos

                 DISTRITO;LATITUD;LONGITUD
0                 Centro;40.41831;-3.70275
1             Arganzuela;40.40021;-3.69618
2                Retiro;40.41317 ;-3.68307
3             Salamanca;40.42972 ;-3.67975
4               Chamartín;40.46206;-3.6766
5                  Tetuan;40.45975;-3.6975
6               Chamberi;40.43404;-3.70379
7     Fuencarral-El Pardo;40.4984 ;-3.7314
8         Moncloa-Aravaca;40.43547;-3.7317
9                 Latina;40.38897;-3.74569
10            Carabanchel;40.39094;-3.7242
11                 Usera;40.38866;-3.70035
12     Puente De Vallecas;40.39354 ;-3.662
13           Moratalaz;40.40742 ;-3.664935
14        Ciudad Lineal;40.44505 ;-3.65132
15              Hortaleza;40.47444;-3.6411
16                   Villaverde;40.35;-3.7
17        Villa de Vallecas;40.374;-3.6122
18              Vicalvaro;40.394 ;-3.60288
19  San Blas-Canillejas;40.43893 ;-3.61537
20           Barajas;40.4736600;-3.5777700

In [275]:
# Split the values in the column in three separate columns
df_distritos[['Distrito', 'Latitud', 'Longitud']] = df_distritos['DISTRITO;LATITUD;LONGITUD'].str.split(';', expand=True)

# Drop the original column 
df_distritos.drop('DISTRITO;LATITUD;LONGITUD', axis=1, inplace=True)
print(df_distritos.info())
df_distritos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Distrito  21 non-null     object
 1   Latitud   21 non-null     object
 2   Longitud  21 non-null     object
dtypes: object(3)
memory usage: 632.0+ bytes
None

               Distrito     Latitud    Longitud
0                Centro    40.41831    -3.70275
1            Arganzuela    40.40021    -3.69618
2                Retiro   40.41317     -3.68307
3             Salamanca   40.42972     -3.67975
4             Chamartín    40.46206     -3.6766
5                Tetuan    40.45975     -3.6975
6              Chamberi    40.43404    -3.70379
7   Fuencarral-El Pardo    40.4984      -3.7314
8       Moncloa-Aravaca    40.43547     -3.7317
9                Latina    40.38897    -3.74569
10          Carabanchel    40.39094     -3.7242
11                Usera    40.38866    -3.70035
12   Puente De Vallecas   40.39354       -3.662
13            Moratalaz   40.40742    -3.664935
14        Ciudad Lineal   40.44505     -3.65132
15            Hortaleza    40.47444     -3.6411
16           Villaverde       40.35        -3.7
17    Villa de Vallecas      40.374     -3.6122
18            Vicalvaro     40.394     -3.60288
19  San Blas-Canillejas   40.43893     -3.61537
20              Barajas  40.4736600  -3.5777700