In [86]:
#Import libraries
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager # sustituye al archivo
from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [87]:
PATH = ChromeDriverManager().install()    # instala driver de chrome

driver = webdriver.Chrome(PATH)      # abre una ventana de chrome

#Busqueda didn´t work, I had to type up the whole URL + search

URL='https://www.booking.com/searchresults.es.html?ss=Chamart%C3%ADn&ssne=Chamart%C3%ADn&ssne_untouched=Chamart%C3%ADn&efdco=1&label=gen173nr-1BCBkoggI46AdIM1gEaEaIAQGYAQq4ARfIAQzYAQHoAQGIAgGoAgO4AvPn46IGwAIB0gIkOTFmYzYxYTAtYjc3NC00NDM5LWIwNTgtOWIyNGIwYjRiZDA52AIF4AIB&sid=d4b5462ce9ae6cf55f51b42829c8b5ed&aid=304142&lang=es&sb=1&src_elem=sb&src=searchresults&dest_id=180&dest_type=district&checkin=2023-05-08&checkout=2023-05-09&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure&flex_window=1'

driver.get(URL)

time.sleep(3)

driver.find_element(By.XPATH, '//*[@id="onetrust-reject-all-handler"]').click()  # rechaza cookies

In [88]:
tabla = driver.find_elements(By.CLASS_NAME, 'd20f4628d0')

filas = [e.text.split('\n') for e in tabla]

filas

[['Ilunion Pio XII',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,3',
  'Muy bien',
  '9.142 comentarios',
  'Oferta Escapada',
  'Habitación Doble - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 149€ 119',
  'Precio original € 149. Precio actual € 119.',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hotel Chamartin The One',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '8,1',
  'Muy bien',
  '10.393 comentarios',
  'Habitación Doble',
  '1 cama doble',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 140',
  'Precio € 140',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Crisol Vía Castellana',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,2',
  'Muy bien',
  '5.100 comentarios',
  'Habitación Doble Clásica - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 140',
  'Precio € 140',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Roisa Hostal Boutique',
  'Se abre en una ventana nueva',
  'Promocionado',
  'Este establecimiento paga un poco más para promocionarse en nuestra página. Cumple con tus criterios de búsqueda y es una muy buena opción.',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,0',
  'Muy bien',
  '2.863 comentarios',
  'Habitación Doble',
  '2 camas individuales',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 95',
  'Precio € 95',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['La Posada de El Chaflán',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 1 del programa de Viajes sostenibles',
  '7,0',
  'Bien',
  '1.476 comentarios',
  'Oferta Escapada',
  'Habitación Doble',
  '1 cama doble',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 90€ 72',
  'Precio original € 90. Precio actual € 72.',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Ilunion Suites Madrid',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,5',
  'Muy bien',
  '6.695 comentarios',
  'Oferta Escapada',
  'Habitación Doble Estándar - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 190€ 152',
  'Precio original € 190. Precio actual € 152.',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['NH Paseo de la Habana',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '7,8',
  'Bien',
  '2.082 comentarios',
  'Habitación Doble Estándar con cama supletoria (2 adultos + 1 niño) - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Solo quedan 5 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 227',
  'Precio € 227',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hotel Puerta America',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,4',
  'Muy bien',
  '5.105 comentarios',
  'Habitación Deluxe',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 205',
  'Precio € 205',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Sercotel Togumar',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '8,3',
  'Muy bien',
  '1.764 comentarios',
  'Habitación Doble - 2 camas',
  '2 camas individuales',
  'Solo quedan 2 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 143',
  'Precio € 143',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Barceló Imagine',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '9,1',
  'Fantástico',
  '2.815 comentarios',
  'Habitación Doble Deluxe - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 263',
  'Precio € 263',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['NUEVOS DUPLEX PRINCIPE VERGARA',
  'Se abre en una ventana nueva',
  'Promocionado',
  'Este establecimiento paga un poco más para promocionarse en nuestra página. Cumple con tus criterios de búsqueda y es una muy buena opción.',
  'Chamartín, MadridMostrar en el mapa',
  '6,9',
  'Puntuación',
  '428 comentarios',
  'Loft Deluxe',
  'Apartamento entero • 1 dormitorio • 1 sala de estar • 2 baños • 1 cocina • 69m²',
  '3 camas (1 doble, 2 sofás cama)',
  'Solo queda 1 a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 120',
  'Precio € 120',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hostal Madrid Paradise',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '6,5',
  'Puntuación',
  '556 comentarios',
  '1×',
  'Cama en habitación compartida mixta de 6 camas',
  'Cama en habitación compartida • 26m²',
  '1 litera',
  '1×',
  'Cama en habitación compartida mixta de 4 camas',
  'Cama en habitación compartida',
  '1 litera',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 39',
  'Precio € 39',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['UVE Marcenado',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '9,2',
  'Fantástico',
  '2.371 comentarios',
  'Habitación con cama extragrande.',
  '1 cama doble extragrande',
  'Solo quedan 3 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 119',
  'Precio € 119',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['AC Hotel Aitana by Marriott',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '8,8',
  'Fabuloso',
  '748 comentarios',
  'Habitación Doble Superior - 2 camas',
  '2 camas individuales',
  'Solo quedan 5 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 308',
  'Precio € 308',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Desayuno incluido',
  'NH Collection Madrid Eurobuilding',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,9',
  'Fabuloso',
  '1.709 comentarios',
  'Habitación Doble Superior - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Desayuno incluido',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 405',
  'Precio € 405',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hostel Thirty One 31',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '5,9',
  'Puntuación',
  '384 comentarios',
  '2×',
  'Litera en habitación compartida mixta',
  '2 camas en habitación compartida',
  '2 camas individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 34',
  'Precio € 34',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Don Pio',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '8,6',
  'Fabuloso',
  '392 comentarios',
  'Habitación Doble - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Solo quedan 3 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 175',
  'Precio € 175',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hotel 4C Puerta Europa',
  'Se abre en una ventana nueva',
  'Tetuán, MadridMostrar en el mapaCerca del metro',
  '7,8',
  'Bien',
  '1.283 comentarios',
  'Habitación Doble - 2 camas',
  '2 camas individuales',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 80',
  'Precio € 80',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Avenida De America Tijcal',
  'Se abre en una ventana nueva',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,8',
  'Fabuloso',
  '2.497 comentarios',
  'Estudio Superior con terraza - 2 camas',
  'Estudio entero • 1 baño • 1 cocina • 28m²',
  '2 camas individuales',
  'Solo queda 1 a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 79',
  'Precio € 79',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['NH Madrid Balboa',
  'Se abre en una ventana nueva',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,5',
  'Muy bien',
  '1.386 comentarios',
  'Habitación Doble Estándar - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 156',
  'Precio € 156',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['LooP America',
  'Se abre en una ventana nueva',
  'Gestionado por un particular',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  '6,8',
  'Puntuación',
  '921 comentarios',
  'Habitación Doble con baño privado',
  '1 cama doble',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 48',
  'Precio € 48',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Abba Madrid',
  'Se abre en una ventana nueva',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '8,8',
  'Fabuloso',
  '1.873 comentarios',
  'Habitación Doble - 2 camas',
  '2 camas individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 105',
  'Precio € 105',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Chamberí Suites',
  'Se abre en una ventana nueva',
  'Chamberí, MadridMostrar en el mapaCerca del metro',
  '8,0',
  'Muy bien',
  '309 comentarios',
  'Suite con ducha',
  'Suite privada',
  '2 camas individuales',
  'Solo queda 1 a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 154',
  'Precio € 154',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['M-A Estudio San German',
  'Se abre en una ventana nueva',
  'Gestionado por un particular',
  'Tetuán, MadridMostrar en el mapaCerca del metro',
  '7,7',
  'Bien',
  '133 comentarios',
  'Estudio - 2 niveles',
  'Estudio entero • 1 baño',
  '1 cama doble',
  'Solo queda 1 a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 84',
  'Precio € 84',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['AC Hotel Avenida de América by Marriott',
  'Se abre en una ventana nueva',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,6',
  'Fabuloso',
  '2.027 comentarios',
  'Habitación con cama grande',
  '1 cama doble grande',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 178',
  'Precio € 178',
  'Incluye impuestos y cargos',
  'Ver disponibilidad']]

In [89]:
filas_dict = {} #Creates a dictionary with name of accomodation and price.

for i in filas:
    name = i[0].replace('-', '')
    price = i[-3][-3:].strip('.')
    filas_dict[name] = price

filas_dict

{'Ilunion Pio XII': '19',
 'Hotel Chamartin The One': '140',
 'Crisol Vía Castellana': '140',
 'Roisa Hostal Boutique': ' 95',
 'La Posada de El Chaflán': '72',
 'Ilunion Suites Madrid': '52',
 'NH Paseo de la Habana': '227',
 'Hotel Puerta America': '205',
 'Sercotel Togumar': '143',
 'Barceló Imagine': '263',
 'NUEVOS DUPLEX PRINCIPE VERGARA': '120',
 'Hostal Madrid Paradise': ' 39',
 'UVE Marcenado': '119',
 'AC Hotel Aitana by Marriott': '308',
 'Desayuno incluido': '405',
 'Hostel Thirty One 31': ' 34',
 'Don Pio': '175',
 'Hotel 4C Puerta Europa': ' 80',
 'Avenida De America Tijcal': ' 79',
 'NH Madrid Balboa': '156',
 'LooP America': ' 48',
 'Abba Madrid': '105',
 'Chamberí Suites': '154',
 'MA Estudio San German': ' 84',
 'AC Hotel Avenida de América by Marriott': '178'}

In [90]:
# Column names
cabeceras = ['name', 'price']

# Creates DF from dictionary
df_booking = pd.DataFrame.from_dict(filas_dict, orient='index')
df_booking = df_booking.reset_index()
df_booking.columns = cabeceras
df_booking = df_booking.rename(columns={'index': 'acc_id'})

# change data type of 'age' column to integer
df_booking = df_booking.astype({'price': int})

df_booking

                                       name  price
0                           Ilunion Pio XII     19
1                   Hotel Chamartin The One    140
2                     Crisol Vía Castellana    140
3                     Roisa Hostal Boutique     95
4                   La Posada de El Chaflán     72
5                     Ilunion Suites Madrid     52
6                     NH Paseo de la Habana    227
7                      Hotel Puerta America    205
8                          Sercotel Togumar    143
9                           Barceló Imagine    263
10           NUEVOS DUPLEX PRINCIPE VERGARA    120
11                   Hostal Madrid Paradise     39
12                            UVE Marcenado    119
13              AC Hotel Aitana by Marriott    308
14                        Desayuno incluido    405
15                     Hostel Thirty One 31     34
16                                  Don Pio    175
17                   Hotel 4C Puerta Europa     80
18                Avenida De America Tijcal     79
19                         NH Madrid Balboa    156
20                             LooP America     48
21                              Abba Madrid    105
22                          Chamberí Suites    154
23                    MA Estudio San German     84
24  AC Hotel Avenida de América by Marriott    178

In [91]:
#Adds a column for storing source of data
df_booking['web'] = 'Booking.com'
df_booking['distrito'] = 'Chamartín'
df_booking

                                       name  price          web   distrito
0                           Ilunion Pio XII     19  Booking.com  Chamartín
1                   Hotel Chamartin The One    140  Booking.com  Chamartín
2                     Crisol Vía Castellana    140  Booking.com  Chamartín
3                     Roisa Hostal Boutique     95  Booking.com  Chamartín
4                   La Posada de El Chaflán     72  Booking.com  Chamartín
5                     Ilunion Suites Madrid     52  Booking.com  Chamartín
6                     NH Paseo de la Habana    227  Booking.com  Chamartín
7                      Hotel Puerta America    205  Booking.com  Chamartín
8                          Sercotel Togumar    143  Booking.com  Chamartín
9                           Barceló Imagine    263  Booking.com  Chamartín
10           NUEVOS DUPLEX PRINCIPE VERGARA    120  Booking.com  Chamartín
11                   Hostal Madrid Paradise     39  Booking.com  Chamartín
12                            UVE Marcenado    119  Booking.com  Chamartín
13              AC Hotel Aitana by Marriott    308  Booking.com  Chamartín
14                        Desayuno incluido    405  Booking.com  Chamartín
15                     Hostel Thirty One 31     34  Booking.com  Chamartín
16                                  Don Pio    175  Booking.com  Chamartín
17                   Hotel 4C Puerta Europa     80  Booking.com  Chamartín
18                Avenida De America Tijcal     79  Booking.com  Chamartín
19                         NH Madrid Balboa    156  Booking.com  Chamartín
20                             LooP America     48  Booking.com  Chamartín
21                              Abba Madrid    105  Booking.com  Chamartín
22                          Chamberí Suites    154  Booking.com  Chamartín
23                    MA Estudio San German     84  Booking.com  Chamartín
24  AC Hotel Avenida de América by Marriott    178  Booking.com  Chamartín

In [92]:
#Load csv file into a DF
df_bb_listing=pd.read_csv('../data/listings.csv')
df_bb_listing.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
18473,47252174,"Habitación con Balcón, hotel Posada del Dragón",381583058,Posada,Centro,Palacio,40.41312,-3.70871,Private room,66,1,1,2021-03-21,1.00,3,81
3600,15278012,"Habitación en Lavapiés, Madrid centro",38603361,Antonio,Centro,Embajadores,40.40882,-3.69901,Private room,34,2,165,2020-03-13,3.03,1,164
13682,39213662,DIVA 1,7145793,Miguel Angel,Ciudad Lineal,Quintana,40.43464,-3.65341,Entire home/apt,69,3,9,2021-04-05,0.51,11,138
14698,40885775,Pretty Bedroom little in Lavapies Madrid,60492971,Saul,Centro,Embajadores,40.40963,-3.70009,Private room,21,1,12,2020-09-17,0.82,3,105
6351,21953821,Lujo en el barrio de Salamanca,160190461,Nuria,Salamanca,Guindalera,40.43828,-3.67337,Entire home/apt,72,3,14,2020-09-17,0.34,1,257
16533,43594251,Amplio y encantador piso a tres minutos del me...,114027648,Giovanny,San Blas - Canillejas,Simancas,40.43751,-3.62275,Entire home/apt,70,3,0,NaN,NaN,2,319
79,289555,Casa Museo del Prado-Private room.,901218,Myrko,Centro,Cortes,40.41758,-3.69631,Private room,26,1,168,2020-10-31,1.81,22,308
18267,46597055,Estudio (2 personas),376738237,Alejandro,Centro,Cortes,40.41104,-3.69383,Entire home/apt,53,1,1,2020-12-19,0.25,2,326
12968,37315944,Habitación en centro de Madrid (Malasaña),137721834,Dani,Centro,Universidad,40.42992,-3.70923,Private room,35,1,1,2019-08-01,0.05,1,89
10937,34636625,Room with privileged view in the center of Madrid,64636177,Diego,Centro,Palacio,40.41542,-3.71143,Private room,20,1,116,2021-04-11,4.99,2,325

In [93]:
#Checks shape
df_bb_listing.shape

(19618, 16)

In [94]:
#Clean nulls and duplicates.
df_bb_listing = df_bb_listing.dropna().drop_duplicates()
#Checks shape
df_bb_listing.shape

(13584, 16)

In [95]:
df_bb_listing.neighbourhood_group.value_counts()

Centro                   6599
Salamanca                 854
Arganzuela                776
Chamberí                  735
Tetuán                    525
Retiro                    477
Carabanchel               437
Ciudad Lineal             417
Puente de Vallecas        413
Chamartín                 378
Moncloa - Aravaca         375
Latina                    363
Hortaleza                 246
San Blas - Canillejas     231
Fuencarral - El Pardo     196
Usera                     186
Barajas                   109
Villaverde                101
Villa de Vallecas          67
Moratalaz                  61
Vicálvaro                  38
Name: neighbourhood_group, dtype: int64

In [96]:
#Drop rows where neighbourhood_group is not Chamartín
chamartin=[r for index, r in df_bb_listing.iterrows() if r['neighbourhood_group']=='Chamartín']
df_chamartin_bb = pd.DataFrame(chamartin)
df_chamartin_bb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,60,1,78,2020-09-20,0.58,1,180
91,337292,Principe de Vergara. Homey Room,1714866,Francisco,Chamartín,Ciudad Jardín,40.44663,-3.67625,Private room,35,2,7,2017-04-18,0.07,1,0
97,342557,Berlin's Park at your window. Parking included.,1738288,Jose Angel,Chamartín,Ciudad Jardín,40.45005,-3.67569,Private room,70,2,55,2019-11-03,0.60,1,343
167,544736,SUNNY & EASY ACCESIBLE BEDROOM,1284868,Rocio,Chamartín,Hispanoamérica,40.45841,-3.67598,Private room,21,2,37,2021-03-31,0.39,3,311
197,616027,"Quiet room well located, Av.America",3053021,Sonia,Chamartín,Prosperidad,40.43922,-3.67574,Private room,23,1,74,2018-09-19,0.71,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18917,47936837,Cozy Private Housing Rental in shared apartment,369379555,Vitoria,Chamartín,Hispanoamérica,40.45661,-3.68066,Private room,27,1,2,2021-03-31,0.80,1,305
18985,48049256,Nuevo/acogedor estudio en Prosperidad con terraza,9885245,My Mad Madrid,Chamartín,Ciudad Jardín,40.44704,-3.67156,Entire home/apt,34,2,2,2021-04-10,2.00,38,354
19089,48204816,Beautiful & cozy apartment in Bernabeu!,388923241,Keren,Chamartín,Nueva España,40.46165,-3.68668,Entire home/apt,40,1,1,2021-03-29,1.00,1,77
19324,48672492,HABITACION/ESTUDIO Entrada independiente,364849660,Eric,Chamartín,Ciudad Jardín,40.44999,-3.66736,Private room,36,2,3,2021-04-07,3.00,1,336
19375,48794295,GRAN HABITACION INDIVIDUAL BUENA ZONA Y COMUNI...,1284868,Rocio,Chamartín,Nueva España,40.45919,-3.67665,Private room,19,2,1,2021-03-28,1.00,3,333

In [97]:
#Keep columns name and price, adds a column called web where source is stored
df_bb = df_chamartin_bb.loc[:, ['name', 'price']].assign(web='Air B&B', distrito='Chamartín')
type(df_bb.price[0])

numpy.int64

In [98]:
df_bb = df_bb.reset_index(drop=True)
df_bb

,name,price,web,distrito
0,"Rooftop terrace room , ensuite bathroom",60,Air B&B,Chamartín
1,Principe de Vergara. Homey Room,35,Air B&B,Chamartín
2,Berlin's Park at your window. Parking included.,70,Air B&B,Chamartín
3,SUNNY & EASY ACCESIBLE BEDROOM,21,Air B&B,Chamartín
4,"Quiet room well located, Av.America",23,Air B&B,Chamartín
...,...,...,...,...
373,Cozy Private Housing Rental in shared apartment,27,Air B&B,Chamartín
374,Nuevo/acogedor estudio en Prosperidad con terraza,34,Air B&B,Chamartín
375,Beautiful & cozy apartment in Bernabeu!,40,Air B&B,Chamartín
376,HABITACION/ESTUDIO Entrada independiente,36,Air B&B,Chamartín
377,GRAN HABITACION INDIVIDUAL BUENA ZONA Y COMUNI...,19,Air B&B,Chamartín

In [99]:
#Load csv file into a DF
df_distritos = pd.read_csv('../data/Distritos_Lat_Lon.csv')
df_distritos

                 DISTRITO;LATITUD;LONGITUD
0                 Centro;40.41831;-3.70275
1             Arganzuela;40.40021;-3.69618
2                Retiro;40.41317 ;-3.68307
3             Salamanca;40.42972 ;-3.67975
4               Chamartín;40.46206;-3.6766
5                  Tetuan;40.45975;-3.6975
6               Chamberi;40.43404;-3.70379
7     Fuencarral-El Pardo;40.4984 ;-3.7314
8         Moncloa-Aravaca;40.43547;-3.7317
9                 Latina;40.38897;-3.74569
10            Carabanchel;40.39094;-3.7242
11                 Usera;40.38866;-3.70035
12     Puente De Vallecas;40.39354 ;-3.662
13           Moratalaz;40.40742 ;-3.664935
14        Ciudad Lineal;40.44505 ;-3.65132
15              Hortaleza;40.47444;-3.6411
16                   Villaverde;40.35;-3.7
17        Villa de Vallecas;40.374;-3.6122
18              Vicalvaro;40.394 ;-3.60288
19  San Blas-Canillejas;40.43893 ;-3.61537
20           Barajas;40.4736600;-3.5777700

In [100]:
# Split the values in the column in three separate columns
df_distritos[['distrito', 'latitud', 'longitud']] = df_distritos['DISTRITO;LATITUD;LONGITUD'].str.split(';', expand=True)

# Drop the original column 
df_distritos.drop('DISTRITO;LATITUD;LONGITUD', axis=1, inplace=True)
print(df_distritos.info())
df_distritos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   distrito  21 non-null     object
 1   latitud   21 non-null     object
 2   longitud  21 non-null     object
dtypes: object(3)
memory usage: 632.0+ bytes
None

               distrito     latitud    longitud
0                Centro    40.41831    -3.70275
1            Arganzuela    40.40021    -3.69618
2                Retiro   40.41317     -3.68307
3             Salamanca   40.42972     -3.67975
4             Chamartín    40.46206     -3.6766
5                Tetuan    40.45975     -3.6975
6              Chamberi    40.43404    -3.70379
7   Fuencarral-El Pardo    40.4984      -3.7314
8       Moncloa-Aravaca    40.43547     -3.7317
9                Latina    40.38897    -3.74569
10          Carabanchel    40.39094     -3.7242
11                Usera    40.38866    -3.70035
12   Puente De Vallecas   40.39354       -3.662
13            Moratalaz   40.40742    -3.664935
14        Ciudad Lineal   40.44505     -3.65132
15            Hortaleza    40.47444     -3.6411
16           Villaverde       40.35        -3.7
17    Villa de Vallecas      40.374     -3.6122
18            Vicalvaro     40.394     -3.60288
19  San Blas-Canillejas   40.43893     -3.61537
20              Barajas  40.4736600  -3.5777700

In [103]:
#Export to sql

#Import SQL Alchemy.
from sqlalchemy import create_engine

#Creates connection
str_conn = 'mysql+pymysql://root:Juanco55@127.0.0.1:3306/accommodations'

cursor = create_engine(str_conn)

#RESPETAR JERARQUIA MADRE-HIJA

#Inserta datos en df_category.
df_distritos.to_sql(name='distritos', 
            con=cursor,
            if_exists='append',   
            index=False
           )

#Inserta datos en df_language.
df_bb.to_sql(name='Air_B&B', 
            con=cursor,
            if_exists='append',   
            index=False
           )

#Inserta datos en df_actor.
df_booking.to_sql(name='Booking', 
            con=cursor,
            if_exists='append',   
            index=False
           )

25